body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #e7d3c7;
}


.header-top {
    background-color: #e7d3c7;
    padding: 25px 50px;             
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-left {
    width: 22px;
}

.logo-serena .logo {
    width: 230px;
    align-items: center;
}

.icons-right {
    display: flex;
    gap: 18px;
}

.icons-right img {
    width: 22px;
    cursor: pointer;
}


.search-box {
    width: 85%;
    background: white;
    margin: 5px auto 15px;        
    border-radius: 40px;
    border: 1px solid #cfcfcf;
    padding: 12px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-box img {
    width: 20px;
}

.search-box input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}


.menu-buttons {
    display: flex;
    justify-content: center;
    gap: 70px;                    
    margin-top: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.menu-buttons :hover {
    transform: scale(1.15);
}

.menu-buttons button {
    background: white;
    border: 1px solid #ffffff;
    padding: 7px 28px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}


.carrossel {
    padding: 90px 0;
    background-color: var(#E1C3A9);
    text-align: center;
    
}

.titulo-carrossel {
    color: #f2d578;
    font-size: 26px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.carrossel-wrapper {
    position: relative;
    width: 330px;
    margin: auto;
}

.carrossel-container {
    width: 330px;
    height: 220px;
    overflow: hidden;
    border-radius: 18px;
    position: relative;
}

.item {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.item.ativo {
    opacity: 1;
}

.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    border: none;
    color:#E1C3A9;
    font-size: 26px;
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s;
}

.seta:hover {
    background-color: var(#E1C3A9);
}

.esquerda { left: -50px; }
.direita { right: -50px; }



.banner-colecao {
    background: #f7eee9;
    padding: 0;
    display: flex;
    justify-content: center;
}

.banner-colecao .right img {
    width: 100%;
    height: 900px;
    background-size: cover;
    height: 1000px;
}


.sobre {
    background: #cdaa8f;
    padding: 70px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.sobre .perfil {
    width: 340px;
    border-radius: 25px;
    object-fit: cover;
}

.sobre .texto {
    max-width: 500px;
    font-size: 20px;
    color: #3d2d25;
    text-align: left;
    line-height: 1.6;
}


.mapa-contato {
    background: #fff;
    padding: 90px 20px;
    text-align: center;
}

.mapa-container {
    max-width: 900px;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #f2c378;
}

.footer {
    background: #E1C3A9;
    padding: 60px 20px;
    text-align: center;
}

.footer-logo {
    color: #fff;
    letter-spacing: 4px;
    font-size: 26px;
}

.footer-text {
    color: #000000;
    margin: 20px 0 10px;
    font-size: 15px;
}

.footer-social img {
    width: 30px;
    margin: 0 10px;
    filter: brightness(0) invert(1);
    transition: .3s;
}

.footer-social img:hover {
    filter: invert(85%) sepia(80%) saturate(900%);
}

.copy {
    margin-top: 25px;
    font-size: 13px;
    color: #8e8e8e;
}
.contato-info {
    margin-top: 40px;
}

.contato-info h2 {
    color: #e1ad7c;
    font-size: 24px;
    margin-bottom: 20px;
}

.contato-info p {
    color: #e7aa78;
    font-size: 16px;
    margin: 6px 0;
}
@media (max-width: 600px) {

    .logo-serena .logo {
        width: 190px;
    }

    .carrossel .circle img {
        width: 110px;
        height: 110px;
    }

    .menu-buttons {
        gap: 15px;
    }

    .search-box {
        width: 92%;
    }

    .sobre .perfil {
        width: 260px;
    }

    .sobre .texto {
        font-size: 16px;
    }
}

/* -------------------- Responsividade --------------- */

@media screen and (max-width: 768px) {
#sombra {
        background-color: #9D562390;
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

nav.menu {
        /* height: 100vh; */
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }

}
